/* hero */
.hero {
  background: url(/images/bg.png) center center no-repeat;
  height: 100vh;
  min-height: 652px;
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 15px;
}

.menu__item :last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 13px;
  height: 14px;
  margin-right: 6px;
}

.hero__title-section {
  width: 50%;
}

.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 30px;
}