@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

html {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* hero */
.hero {
  background: url(../images/bg.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(../images/bg768.png);
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background: url(../images/bg480.png);
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.2222222222rem 0 3.3333333333rem;
}

.hero__title-section {
  width: 52%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1.1111111111rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.8333333333rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding-right: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  font-weight: bold;
  margin: 0 30px;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.2222222222rem;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 2rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  margin-right: 0.4444444444rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  text-decoration: none;
  line-height: 1;
  background: #FEDB3F;
  color: #000000;
  border: none;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  background: #FFD517;
  color: #000000;
}

.section {
  height: 100vh;
  min-height: 36.2222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 6%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.1111111111rem;
  }
}
.benefits__item:before {
  content: url(../images/separator.png);
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  height: 7.1111111111rem;
  width: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 2.7777777778rem;
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 1.1111111111rem;
}

.reviews__text {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1.9444444444rem;
}

.review__author {
  font-size: 1rem;
  font-weight: 500;
  color: #292929;
}

.reviews-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar.active {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order--section {
  background: url(../images/surfer.jpg) center center no-repeat;
  background-size: cover;
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 20%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.5555555556rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: 0.1666666667rem solid transparent;
}
.form__input.input-error {
  border-color: hotpink;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  margin-top: 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../images/checkmark.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1.0555555556rem;
  height: 1.0555555556rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.footer {
  position: relative;
  height: 5.1666666667rem;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.3888888889rem 0;
  background: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.7777777778rem;
  margin-top: auto;
}
@media screen and (max-width: 480px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#map {
  width: 100vw;
  min-height: 100vh;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5555555556rem;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  background: center center no-repeat;
}

.socials__item-icon-vk .socials__link {
  background-image: url(../images/vk.png);
}

.socials__item-icon-fb .socials__link {
  background-image: url(../images/f.png);
}

.socials__item-icon-inst .socials__link {
  background-image: url(../images/in.png);
}

.socials__item-icon-tw .socials__link {
  background-image: url(../images/tv.png);
}

.contacts {
  font-style: normal;
  font-size: 1.1666666667rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__phone {
  color: #292929;
}

.address {
  display: block;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 11.1111111111rem;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    margin-right: 0;
  }
}

.team__member {
  height: 16.1111111111rem;
  margin-bottom: 0.8333333333rem;
}

.team__title {
  font-size: 1.2222222222rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0.8333333333rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__content-block {
  padding-bottom: 5px;
}

.team__occupation {
  color: #292929;
  font-weight: 400;
}

.team--desktop--version:team__content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--desktop--version {
    display: none;
  }
}

.team--mobile--version {
  display: none;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
@media screen and (max-width: 768px) {
  .team--mobile--version {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-section {
  background: #F8FAF9;
}

.products-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.product__col {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .product__col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__name {
  font-size: 2rem;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1.1111111111rem;
}

.product__description {
  font-weight: 400;
  margin-bottom: 1.1111111111rem;
}

.product__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .product__size {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product__size-length {
  margin-right: 3.3333333333rem;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .product__price {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product__price-number {
  font-size: 3.3333333333rem;
  color: #151515;
}

.options {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  margin-bottom: 2.2222222222rem;
}

.dropdowwn {
  position: relative;
}
@media screen and (max-width: 768px) {
  .dropdowwn {
    display: none;
  }
}

.dropdown:hover .dropdown-menu {
  right: 0;
  opacity: 1;
}

.dropdown-menu {
  position: absolute;
  background: url(/images/menu-bg.png) no-repeat;
  width: 15.1666666667rem;
  height: 16.1666666667rem;
  top: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  right: -9999px;
  margin-bottom: 20px;
}
.dropdown-menu:before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -30px;
  position: absolute;
}

.products-menu-section {
  position: relative;
  background: url(/images/menu-bg-2.jpg) center center/center no-repeat;
  color: #fff;
}

.products__menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__title {
  position: relative;
  width: 5.5555555556rem;
}
.products-menu__title:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: rgba(51, 53, 55, 0.9);
}

.products-menu__content {
  background: rgba(51, 53, 55, 0.8980392157);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

/* модальное окно */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}

.modal__container {
  background: #fff;
  padding: 30px 45px;
  width: 309px;
  height: 176px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__content {
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.player.active .player__splash {
  display: none;
}
.player.paused .player__start {
  width: 0.7777777778rem;
  height: 1.2222222222rem;
  border: none;
}
.player.paused .player__start:before, .player.paused .player__start:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
}
.player.paused .player__start:after {
  right: 0;
}
.player.paused .player__start:before {
  left: 0;
}

.player__splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/player.png);
  cursor: pointer;
}

.player__duration {
  position: relative;
  height: 0.8888888889rem;
  width: 24.7777777778rem;
}
.player__duration:before {
  content: "";
  height: 0.3888888889rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: rgb(98, 98, 98);
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.player__playback-button {
  background: #FEDB3F;
  border-radius: 50px;
  border: none;
  width: 15px;
  height: 15px;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: rgb(64, 64, 64);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.3888888889rem;
}