.products-menu-section {
    position: relative;
    background: url(./images/menu-bg-2.jpg) center center/center no-repeat;
    color: #fff;
}

.products__menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.products-menu__item {
    display: flex;
}

.products-menu__title {
    position: relative;
    width: rem(102px);
}

.products-menu__content {
    background: rgba(51, 53, 55, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;
}

.products-menu__container {
    padding: 40px 73px 45px 26px;
}