.reviews__display {
  background: #F8FAF9;
  padding: 50px 45px 34px;
  margin-bottom: 50px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reviews__text {
  font-size: 18px;
  color: #666666;
  margin-bottom: 35px;
}

.review__author {
  font-size: 18px;
  font-weight: 500;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  /* border: 6px solid #FEDB3F; */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar--active {
  border: 6px solid #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}